/* Sets the background image for our homepage */
.bgHome {
    background-size: cover;
    background-image: url(/assets/Images/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg);
}

.home {
    position: relative;
}
/* tells the page where to place the logo/searchbar */
.height {

    height: 90vh;
}
/* sets the styling for our logo */
h1 {
    color: #E5DCC5;
    text-align: center;
    font-size: 600%;
    font-family: 'Ubuntu', sans-serif;
}